header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 50px auto 0;

    img {
        height: 68px;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 50px;
        a {
            text-decoration: none;
            color: #000;
            font-weight: 500;
            font-size: 24px;

            &.active-link {
                text-decoration: underline;
            }
        }

    }

}

header nav a.active-link {
    text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
    header {
        margin: 25px auto 0;
        img {
            height: 45px;
        }
        nav {
            gap: 25px;
            a {
                font-size: 12px;
            }
        }
        
    }
}