
.carrousel {
    height: 415px;
    border-radius: 25px;
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
.fiche_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
    }
    p {
        font-size: 18px;
        font-weight: 500;
    }
}
.host_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .profil_wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 15px;

        p {
            color: #FF6060;
            font-weight: 500;
            width: 100px;
            text-align: end;
            font-size: 18px;
        }
        img {
            border-radius: 100px;
            width: 64px;
            object-fit: cover;
        }
    }

}
.rating_wrapepr {
    display: flex;
}

.dropdown_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 75px;

    .dropdown_item {
        flex: 1 0 0;
    }
}

/* Dropdown */
.dropdown_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    color: #fff;
  }
  .chevron {
    transition: 0.3s ease-in-out;
  }
  .chevron.rotate {
    transform: rotate(-180deg);
  }
  
  .dropdown_text {
    color: rgba(255, 255, 255, 0.65);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 90%;
    background-color: #F6F6F673;
  }
  .dropdown_text.active {
    max-height: 500px;
    overflow: auto; 
  }
@media screen and (max-width: 768px) { 
    .fiche_wrapper {
        flex-direction: column;
    }
    .host_wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .rating_wrapper {
            order: -1;
        }
    }

    .dropdown_wrapper {
        flex-direction: column;
    }
}