.about_dropdown {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .about_dropdown {
        width: 100%;

    }
}