

.fiche_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
    }
    p {
        font-size: 18px;
        font-weight: 500;
    }
}
.host_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .profil_wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 15px;

        p {
            color: #FF6060;
            font-weight: 500;
            width: 100px;
            text-align: end;
            font-size: 18px;
        }
        img {
            border-radius: 100px;
            width: 64px;
            object-fit: cover;
        }
    }

}
.rating_wrapepr {
    display: flex;
}

.dropdown_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 75px;
}


.dropdown_item {
    flex: 1 0 0;
    border-radius: 5px;
    overflow: hidden;
    align-self: stretch;

    .dropdown_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FF6060;
        border-radius: 5px;
        padding: 10px 15px;
        color: #fff;
        cursor: pointer;

        .chevron {
            transition: 0.3s ease-in-out;
        }
        .chevron.rotate {
            transform: rotate(-180deg);
        }
    }

    .dropdown_text {
        color: #000;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s ease-out; 
        width: 100%;
        background-color: #F6F6F673;
        ul {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            transform: translateY(-100%);
            transition: 0.3s ease-out;
        }
    }

    .dropdown_text.active {
        height: 100%;
        max-height: 300px;
        ul {
            transform: translateY(0%);
        }
    }
}

@media screen and (max-width: 768px) {
    .fiche_wrapper {
        flex-direction: column;
    }
    .host_wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .rating_wrapper {
            order: -1;
        }
    }

    .dropdown_wrapper {
        flex-direction: column;
    }
    .dropdown_text.active {
        height: 200px;
    }
}