.carrousel {
    position: relative;
    margin: 0 auto;
  }
  
  .carrousel img {
    width: 100%;
    height: auto;
  }
  
  .carrousel .previous, .carrousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*background-color: rgba(0, 0, 0, 0.5);*/
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 45px;
  }
  
  .previous {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  