* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    margin: 50px auto;
}

li {list-style: none;}


